@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inria-Sans";
}

html {
  scroll-behavior: smooth;
}
.baris-konten {
  width: 100%;
  top: 0;
  display: flex;
  position: fixed;
  box-shadow: 5px 0 8px rgb(0, 0, 0, 0.6);
  background-color: white;
  z-index: 50;
}

.isi-konten {
  width: 100%;
  max-width: 72rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.isi-konten .lis {
  gap: 1rem;
}

.isi-konten ul {
  list-style: none;
  display: flex;
}

.isi-konten li {
  margin-left: 3rem;
  cursor: pointer;
}

.isi-konten li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.isi-konten li a:hover {
  color: red;
}

.pembungkus-home {
  width: 100%;
  max-width: 72rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: auto;
  margin-top: 10rem;
}

.bungkus-ilustration {
  margin-top: 3rem;
  margin-right: 2rem;
}

.pembungkus-kertas {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: auto;
}

.bungkus-judul {
  margin-bottom: 2rem;
}

.gambar {
  width: 100%;
  height: 142px;
}

.gambar img {
  object-fit: cover;
  width: 100%;
  height: 142px;
}

.bungkus-cv {
  margin-top: 3rem;
}

.cv {
  width: 120px;
  height: 35px;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cv:hover {
  transition: ease-in-out 0.3s;
  background-color: #94949c;
  cursor: pointer;
  color: white;
}

.bungkus-nama h1 {
  letter-spacing: 5px;
}

.bungkus-nama p {
  font-size: 25px;
}

.bungkus-kertas {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 3rem;
}

.kertas {
  width: 240px;
  height: 290px;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 10px 10px 8px 0px rgb(0, 0, 0, 0.6);
  transition: 0.4s;
}

.kertas:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
  box-shadow: 5px 5px 15px 0px blue;
}

#judul1 {
  font-size: 35px;
}

.isi {
  width: 100%;
  max-width: 90%;
  margin: auto;
}

.isi h2 {
  font-size: 18px;
  margin-bottom: 3px;
}

.isi p {
  font-size: 13px;
  text-align: left;
  letter-spacing: 1px;
}

.tombol {
  width: 80px;
  height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  cursor: pointer;
}

.tombol a {
  text-decoration: none;
  font-size: 14px;
  color: blue;
}

.tombol a:hover {
  color: red;
}

.bungkus-skills h2 {
  margin-bottom: -5rem;
}

.bungkus-konten {
  margin: auto;
  width: 72rem;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills {
  width: 563px;
  height: 380px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.skil-s1 {
  display: flex;
  gap: 2rem;
}

.skil-s2 {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

#icon {
  transition: 0.5s;
}

#icon:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

.bungkusabout1 {
  width: 100%;
  max-width: 72rem;
  height: 720px;
  margin: auto;
  align-items: center;
  gap: 4rem;
  display: flex;
}

.bungkus-bio p {
  font-size: 20px;
}

.bungkus-contact {
  width: 100%;
  max-width: 72rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  gap: 10rem;
}

.bungkus-contactme {
  width: 100%;
  max-width: 420px;
  height: 575px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.bungkus-contactme h3 {
  margin-bottom: 20px;
}

.bungkus-email .email {
  width: 180px;
  border-radius: 5px;
  border: 3px solid black;
  padding: 5px;
}

.bungkus-nama .nama {
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid black;
}

.bungkus-ne {
  width: 100%;
  max-width: 780px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.text {
  margin-top: 20px;
  width: 100%;
}

.text .isitext {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  border: 3px solid black;
  padding: 6px;
}

.submit {
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 25px;
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.submit:hover {
  transition: ease-in-out 0.3s;
  background-color: #94949c;
  cursor: pointer;
  color: white;
}

.bungkus-sosmed {
  display: flex;
  gap: 1rem;
}

.icon {
  display: flex;
  margin-left: 2rem;
}

.icon a {
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  font-size: 30px;
  text-align: center;
  color: black;
  background-color: gray;
  line-height: 60px;
  margin: 0 15px;
  border-radius: 50%;
  box-shadow: 0 5px 4px rgb(0, 0, 0, 0.5);
  transition: 0.4s ease;
}

.icon a:hover {
  color: white;
  transform: translate(0, -30px);
  box-shadow: 0 20px 8px rgb(0, 0, 0, 0.7);
}

.icon a:nth-child(1):hover {
  background-color: #3b5998;
}
.icon a:nth-child(2):hover {
  background-color: #e01a69;
}
.icon a:nth-child(3):hover {
  background-color: #ff0000;
}
.icon a:nth-child(4):hover {
  background-color: #0ed238;
}

.bagian-bawah {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Responsive Unfinish */

@media only screen and (max-width: 640px) {
  .pembungkus-home {
    width: 100%;
    max-width: 350px;
  }
  .bungkus-ilustration img {
    width: 95px;
    height: 110px;
    margin-right: -25px;
    margin-top: -50px;
  }
  .bungkus-nama p {
    font-size: 12px;
  }

  .bungkus-nama h1 {
    font-size: 14px;
  }

  .cv {
    width: 63px;
    height: 20px;
    font-size: 8px;
    margin-top: -40px;
  }

  .bungkus-pemilik img {
    width: 34px;
    height: 34px;
  }

  .isi-konten ul li a {
    font-size: 13px;
  }

  .isi-konten {
    width: 350px;
  }

  .isi-konten .lis {
    gap: 0.5px;
    align-items: center;
    justify-content: center;
  }

  #judul1 {
    font-size: 18px;
  }

  .kertas {
    width: 150px;
    height: 200px;
  }

  .gambar {
    width: 100%;
    height: 70px;
  }

  .gambar img {
    width: 100%;
    height: 70px;
  }

  .isi h2 {
    font-size: 12px;
  }

  .isi p {
    font-size: 8px;
  }

  .tombol a {
    font-size: 10px;
  }

  #content-2 {
    display: none;
  }

  .bungkus-kertas {
    width: 100%;
    max-width: 350px;
  }

  .poto-kartun img {
    width: 176px;
    height: 129px;
  }
}
